*{
    margin:0x;
    padding: 0px;
    font-family: sans-serif;
    
}
body{
    width: 90%;
    margin: 20px auto;
    
}
header{
    border-bottom: 1px solid grey;
    padding: 5px;
    margin-bottom: 20px;
}

footer{
    border-top: 1px solid grey;
    padding: 5px;
    margin-top: 400px;
}
h2{
    margin-left: 70px;
}

#btn_pemakaian{
    height: 50px;
    width: 50px;
}
#stock{
    height: 50px;
    width: 50px;
}
.warehouse{
    margin-left: 70px;
    margin-top: 70px;
    float: left;
    
    
}
#btn_price{
    height: 50px;
    width: 50px;
}
#btn_buy{
    height: 50px;
    width: 50px;
}
.purchasing{
    margin-left: 70px;
    margin-top: 70px;
    float: left;
}
table{
    border-color:solid black;
    border-collapse: collapse;
    padding: 15px;
    width: 100%;
    
}
#btn_next {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#btn_next:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
#btn_last {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#btn_last:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
#btn_back {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#btn_back:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
#btn_first {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#btn_first:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
#first_stock {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#first_stock:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
#back_stock {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#back_stock:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
#next_stock {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#next_stock:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
#last_stock {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#last_stock:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
#last_order {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#last_order:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
#next_order {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#next_order:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
#back_order {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#back_order:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
#first_order {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#first_order:hover {
    background-color: rgb(62, 120, 245); 
    color: white;
}
