*{
    margin:0x;
    padding: 0px;
    font-family: sans-serif;
}
body{
    width: 90%;
    margin: 20px auto;
    
}
header{
    border-bottom: 1px solid grey;
    padding: 5px;
    margin-bottom: 20px;
}

footer{
    border-top: 1px solid grey;
    padding: 5px;
    margin-top: 400px;
}
h2{
    margin-left: 70px;
}

#btn_pemakaian{
    height: 50px;
    width: 50px;
}
#stock{
    height: 50px;
    width: 50px;
}
.warehouse{
    margin-left: 300px;
    margin-top: 70px;
    float: left;
    float: right;
    
}
#btn_price{
    height: 50px;
    width: 50px;
}
#btn_buy{
    height: 50px;
    width: 50px;
}
.purchasing{
    margin-left: 70px;
    margin-top: 70px;
    float: left;
    float: right;
}